{% extends 'base.html.twig' %}

{% block body %}

<div style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);">
	<div class="container">
	{% for user in users %}
		<div class="row">
			<div class="offset-2 col-7">
				<h1 style="text-align: center;">{{ user.metier }}</h1>
				<h4 style="text-align: center;">{{ user.techo }}</h4>
				<p style="text-align: center;">{{ user.content }}</p>
				<h4 class="offset-4">{{ user.nom }} {{ user.prenom }}  {{ user.age }} ans</h4>
				<p><i class="fas fa-home offset-1"></i> {{ user.ville }} <i class="fas fa-envelope-open-text"></i> {{ user.email }} <i class="fas fa-phone"></i> {{ user.phone }}</p>
			</div>
			<div class="col-3">
				<a href="{{ path('app_login')}}"><img src="{{ user.photo }}" style=" height: 14em; padding: 1em;"></a>
			</div>
		</div>
	{% endfor %}
	<hr>
	</div>

	<div class="container">
		<h4>FORMATION</h4>
		{% for parcour in parcours %}
			{% if loop.index < 3 %}
			<h5 style="text-align: center;">{{ parcour.nom }}</h5>
			<p style="text-align: center;">Du {{ parcour.dateStart }} au {{ parcour.dateEnd }} {{ parcour.lieu }}</p>
		{% endif %}
		{% endfor %}
		<hr>
	</div>
	<div class="container">
	<h4>PROJET WEB</h4>
	{% for projet in projets %}
	<div class="mb-2 mt-5">
		<div style="text-align: center;">
			<h5 class="mt-5 pt-5" style="text-align: center;">{{ projet.nom }}</h5>
			<p style="text-align: center;">{{ projet.description }}</p>
			<p style="text-align: center;">{{ projet.techno }}</p>
			{% if projet.lien %}
			<a href="{{ projet.lien }}" class="text-dark">Voir le site</a>
			{% endif %}
		</div>
		<div class="row pb-5 justify-content-center" data-toggle="modal" data-target="#exampleModal{{ projet.id }}">
			<img src="{{ projet.photo }}" style=" height: 22em;">
			<img class="ml-2 mr-2" src="{{ projet.photo2 }}" style=" height: 22em;">
			<img src="{{ projet.photo3 }}" style=" height: 22em;">
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal{{ projet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="{{ projet.photo }}" style=" height: 38em;">
			<img src="{{ projet.photo2 }}" style=" height: 33em;">
			<img src="{{ projet.photo3 }}" style=" height: 33em;">
			</div>
	      </div>
	    </div>
	  </div>
	{% endfor %}
	</div>
</div>
{% endblock %}
